.btn{
    float: right;
}
.card-header{
    background-color: #EEE4AB;
}
.content{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}.title{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}